#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #E6DCAE;
}

.App{
  padding: 50px 25px 25px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.Card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 25px;
  background-color: #C7B883;
}

.Card > img{
  display: flex;
  border-radius: 25%;
  align-self: flex-end;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
