#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #70B0C2;
}

.digital-clock, .countdown, .stopwatch{
  margin: 3rem;
  padding: 0.5rem;
  background-color: #F5EAE7;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

button {
  margin: 1rem;
  padding: 0.5rem;
}

h2{
  border-radius: 0.5rem;
}

#buttons{
  margin: 1rem;
  padding: 0.5rem;
  background-color: #F5EAE7;
  border-radius: 1rem;
}