
.pokedex{
    display: flex;
    justify-content: center;
}

.poke-name{
    writing-mode: vertical-rl ;
}

.pokedex{
    text-decoration: none;
    background-color: #ae744c ;
    background-image: '../../../public/wood.png' ;
}
