.close-btn {
    opacity: 0.3;
    position: absolute;
    top: 40px;
    right: 30px;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
  }
  
  .list li {
    margin: 20px 0;
  }
  
  .list li a {
    color: rgb(34, 31, 31);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .list ul {
    list-style-type: none;
    padding-left: 20px;
  }