.homeVillagers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff563;
  margin: 4rem;
  padding: 1rem;
  border-radius: 4rem;
}
.btn-ViewAll {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 15vh;
}
